<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="main">
      <%- include('layouts/header'); -%>
      <main id="site_content">
        <div id="content">
          <!-- insert the page content here -->
          <%- body %>
        </div>
        <%- include('layouts/sidebar'); -%>
      </main>
      <%- include('layouts/footer'); -%>
    </div>
  </body>
</html>
