<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>: <%= genreName %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="main">
      <%- include('layouts/header'); -%>
      <main id="site_content">
        <div id="content">
          <!-- insert the page content here -->
          <h1>Movies per category</h1>
          <h2><%= genreName %></h2>
          <p>Listing all the movies per genre here</p>

          <ul>
            <% movies.forEach((movie) => { %>
            <li><a href="#"><%= movie.title %></a></li>
            <% }) %>
          </ul>
        </div>
        <%- include('layouts/sidebar'); -%>
      </main>
      <%- include('layouts/footer'); -%>
    </div>
  </body>
</html>
